<p>lista-chamados works!</p>

<div>
    <form [formGroup]="formSearch.root">
        <select formControlName="searchType">
            <option value="1">Por nome do responsavel</option>
            <option value="2">Por nome do chamado</option>
        </select>
        &nbsp;
        <input type="text" size="50" formControlName="searchText"/>
        &nbsp;
        <input type="button" value="Pesquisar" [disabled]="formSearch.invalid" (click)="search()" />
        &nbsp;
        <input type="button" value="Limpar" (click)="clearSearch()"/>
    </form>
</div>



<table border="1" style="width: 90%;">
    <thead>
        <tr>
            <th style="width: 30%;">Nome do emissor</th>
            <th style="width: 30%;">Email do emissor</th>
            <th style="width: 40%;">Nome do responsavel</th>
            <th style="width: 10%;">Email do responsavel</th>
            <th style="width: 7%;">Titulo</th>
            <th style="width: 10%;">Data de emissão</th>
            <th style="width: 10%;">Status</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of chamados">
            <td>{{c.name_issuer}}</td>
            <td>{{c.email_issuer}}</td>
            <td>{{c.name_responder}}</td>
            <td>{{c.email_responder}}</td>
            <td>{{c.title}}</td>
            <td>{{c.description}}</td>
            <td>{{c.open_date}}</td>
            <td>{{c.status}}</td>
            <td align="center">
                <input *ngIf="c.status == '1'" type="button" value="Iniciar" (click)="atualizaStatus()" /> 

                <input *ngIf="c.status == '0'" type="button" value="Finalizar" (click)="atualizaStatus()" />
            </td>
        </tr>
    </tbody>
</table>