
<div>

  <h1>Chamados</h1>


  <a routerLink="cadastroChamado">Cadastro chamado</a>
  &nbsp;&nbsp;
  <a routerLink="listagemChamados">Listagem dos chamados</a>
  &nbsp;&nbsp;
  <a routerLink="listaDetalhes">Lista de detalhes</a>

</div>

<div style="margin-top: 20px;">
    <router-outlet></router-outlet>

</div>




