<p>cadastro-chamado works!</p>

<!-- <input type="button" value="Ir para a tela de lista" (click)="goToB()" /> -->

name_issuer: ['', [Validators.required]],
    email_issuer: ['', [Validators.required, Validators.email]],
    name_responder: ['', [Validators.required]],
    email_responder: ['', [Validators.required, Validators.email]],
    title: ['', [Validators.required]],
    description: ['', [Validators.required]]

<form [formGroup]="chamadoForm">

    Nome emissor: <br />
    <input type="text" size="40" formControlName="name_issuer" />
    <div *ngIf="name_issuer.errors?.required" class="error">
        Nome emissor é obrigatorio!
    </div>

    <br />

    Email do emissor: <br />
    <input type="text" size="40" formControlName="email_issuer" />
    <div *ngIf="email_issuer.errors?.required" class="error">
        Email é obrigatorio!
    </div>
    <div *gnIf="email.errors?.email" class="error">
        E-mail invalido
    </div>

    <br />

    Nome do responsavel: <br />
    <input type="text" size="40" formControlName="name_responder" />
    <div *gnIf="name_responder.errors?.required" class="error">
        Nome do responsavel é obrigatorio!
    </div>
    

    <br />

    Eamil do responsavel: <br />
    <input type="text" size="40" formControlName="email_responder" />
    <div *ngIf="email_responder.errors?.required" class="error">
        Email é obrigatorio!
    </div>
    <div *gnIf="email_responder.errors?.email" class="error">
        E-mail invalido
    </div>
    
    <br />

    Titulo: <br />
    <input type="text" size="30" formControlName="title" />
    <div *ngIf="title.errors?.required" class="error">
        Titulo é obrigatorio!
    </div>
    
    <br />

    Descrição: <br />
    <textarea cols="50" rows="6" formControlName="description" ></textarea>
    <div *ngIf="description.errors?.required" class="error">
        Descrição é obrigatoria!
    </div>

    <br />

    <br />

    <input type="button" value="Cadastrar" (click)="cadastrar()" [disabled]="chamadoForm.invalid" />

</form>
